<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>All Owned Items - <%= siteInfo.sitename %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="<%= siteInfo.sitedesc %>" />
		<meta property="og:site_name" content="<%= siteInfo.sitename %>" />
		<meta property="og:title" content="All Owned Items " />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="<%= siteInfo.sitedesc %>" />
		<meta name="twitter:card" content="summary">
		<meta name="theme-color" content="<%= siteInfo.themecolor %>">
		<meta property="og:image" content="<%= siteInfo.siteLogo %>">
		<link href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/main.css" />
		<link rel="icon" href="<%= siteInfo.siteLogo %>" />
		<style>
			#icons01 a:hover svg {
				fill: <%= siteInfo.themecolor %> !important;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
						<div id="container01" class="container columns full screen">
							<div class="wrapper">
								<div class="inner">
									<div>
										<a href="/">
											<div id="image01" class="image">
												<img src="<%= siteInfo.siteLogo %>" alt="" />
											</div>
										</a>
									</div>
									<div>
										<ul id="buttons03" class="buttons">
											<% var splittedDetails = siteInfo.header.split("[||[]||]");
											splittedDetails.forEach(function(element) { 
												if(element.length > 3) {
													let thisDetail = element.split("[||]"); %>
													<li>
														<a href="<%= thisDetail[1] %>" class="button n01"><%= thisDetail[0] %></a>
													</li>
												<% }
											}); %>
										</ul>
									</div>
									<div>
										<ul id="buttons01" class="buttons">
											<% if(discordInfo.loggedIn) { %>
												<div class="dropdown">
													<li>
														<a href="/user/<%= discordInfo.id %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label"><%= discordInfo.username %>#<%= discordInfo.discriminator %></span></a>
													</li>
													<div class="dropdown-content">
														<% if(siteInfo.giftcardsEnabled) { %><a href="/giftcards">Gift Cards</a> <% } %>
														<a href="/logout">Logout</a>
													</div>
												</div>
												<li>
													<a href="/cart" class="button n02"><svg><use xlink:href="/assets/icons.svg#cart"></use></svg><span class="label">Cart <% if(discordInfo.cart.length > 0) { %>(<%= discordInfo.cart.length %>)<% } %></span></a>
												</li>
												<% if(discordInfo.permType < 3) { %>
													<li>
														<a href="/staff" class="button n03"><svg><use xlink:href="/assets/icons.svg#key"></use></svg><span class="label">Staff</span></a>
													</li>
											<%	} 
											} else { %>
												<li>
													<a href="/login" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label">Login</span></a>
												</li>
											<% } %>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<% if(siteInfo.banner) { %>
							<div id="container02" class="container default">
								<div class="wrapper">
									<div class="inner">
										<p id="text08">Notification</p>
										<p id="text10"><%= siteInfo.banner %></p>
									</div>
								</div>
							</div>
						<% } %>
					</header>
					
					<section id="owned-section">
						<p id="text16">Admin Panel - Owned Items</p>
						<ul id="buttons12" class="buttons">
							<li>
								<a href="/staff/settings" class="button n01">Site Settings</a>
							</li><li>
								<a href="/staff/insights" class="button n02">Insights</a>
							</li><li>
								<a href="/staff/store" class="button n03">Store</a>
							</li><li>
								<a href="/staff/gallery" class="button n04">Gallery</a>
							</li><li>
								<a href="/staff/homepage" class="button n05">Home Page</a>
							</li><li>
								<a href="/staff/teampage" class="button n06">Team Page</a>
							</li><li>
								<a href="/staff/tospage" class="button n07">ToS Page</a>
							</li><li>
								<a href="/staff/partners" class="button n09">Partners</a>
							</li><li>
								<a href="/staff/users" class="button n08">User Manager</a>
							</li><li>
								<a href="/staff/owneditems" class="button n08">Owned Items</a>
							</li><li>
								<a href="/staff/admins" class="button n09">Staff Manager</a>
							</li>
						</ul>

						<form enctype="multipart/form-data" id="form17" method="post" action="">
							<div class="inner">
								<div class="field">
									<input type="text" name="search-with-id-or-username" id="searchBox" onkeyup="searcher()" placeholder="Search with user id, username or product name" maxlength="256" required />
								</div>
							</div>
						</form>
						
						<div id="table09" class="table-wrapper">
							<div class="table-inner">
								<table id='searchId'>
									<thead>
										<tr>
											<th>User</th>
											<th>Product</th>
											<th>Price</th>
											<th>Date Purchased</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<% ownedItems.forEach(function(element, i) { 
											var d = new Date(Number(element.createdAt)).toDateString(); %>
											<tr>
												<td><%= element.username %> - <code><%= element.userId %></code></td>
												<td><%= element.productName %></td>
												<td><%= element.productPrice %></td>
												<td><%= d %></td>
												<td><a href="/user/<%= element.userId %>"><span style="color: #00AAFF">View user profile</span></a> | <a href="/backend/removeitemfromuser/<%= element.id %>/<%= element.userId %>">Remove from user</a></td>

											</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</section>

					<footer id="footer">
						<ul id="icons01" class="icons">
							<% if(siteInfo.socialEmail) { %>
							<li>
								<a class="n01" href="mailto:<%= siteInfo.socialEmail %>">
									<svg><use xlink:href="/assets/icons.svg#email"></use></svg>
									<span class="label">Email</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialDiscord) { %>
							<li>
								<a class="n02" href="<%= siteInfo.socialDiscord %>">
									<svg><use xlink:href="/assets/icons.svg#discord"></use></svg>
									<span class="label">Discord</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialTwitter) { %>
							<li>
								<a class="n03" href="<%= siteInfo.socialTwitter %>">
									<svg><use xlink:href="/assets/icons.svg#twitter"></use></svg>
									<span class="label">Twitter</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialTwitch) { %>
							<li>
								<a class="n04" href="<%= siteInfo.socialTwitch %>">
									<svg><use xlink:href="/assets/icons.svg#twitch"></use></svg>
									<span class="label">Twitch</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialInsta) { %>
							<li>
								<a class="n05" href="<%= siteInfo.socialInsta %>">
									<svg><use xlink:href="/assets/icons.svg#instagram"></use></svg>
									<span class="label">Instagram</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialFb) { %>
							<li>
								<a class="n06" href="<%= siteInfo.socialFb %>">
									<svg><use xlink:href="/assets/icons.svg#facebook"></use></svg>
									<span class="label">Facebook</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialYouTube) { %>
							<li>
								<a class="n07" href="<%= siteInfo.socialYouTube %>">
									<svg><use xlink:href="/assets/icons.svg#youtube"></use></svg>
									<span class="label">YouTube</span>
								</a>
							</li>
							<% } %>
						</ul>
						<% var footerDate = new Date(); %>
						<p id="text07">© <%= footerDate.getFullYear(); %>, <%= siteInfo.sitename %>. Made by <a href="https://faxes.zone">FAXES</a>.</p>
					</footer>
				</div>
			</div>
		</div>
		<script src="/assets/main.js"></script>
		<script>
			function searcher() {
			// Declare variables
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("searchBox");
			filter = input.value.toUpperCase();
			table = document.getElementById("searchId");
			tr = table.getElementsByTagName("tr");
	
			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				td2 = tr[i].getElementsByTagName("td")[1];
				if (td || td2) {
					txtValue = td.textContent || td.innerText;
					txtValue2 = td2.textContent || td2.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
			}
		</script>
	</body>
</html>