<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Terms of Service/Use - <%= siteInfo.sitename %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="<%= siteInfo.sitedesc %>" />
		<meta property="og:site_name" content="<%= siteInfo.sitename %>" />
		<meta property="og:title" content="Terms of Service/Use" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="<%= siteInfo.sitedesc %>" />
		<meta name="twitter:card" content="summary">
		<meta name="theme-color" content="<%= siteInfo.themecolor %>">
		<meta property="og:image" content="<%= siteInfo.siteLogo %>">
		<link href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/main.css" />
		<link rel="icon" href="<%= siteInfo.siteLogo %>" />
		<style>
			#icons01 a:hover svg {
				fill: <%= siteInfo.themecolor %> !important;
			}
			.hoverhehe:hover {
				color: <%= siteInfo.themecolor %> !important;
				cursor: pointer;
			}

			h1 {
				text-align: left;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 1.25em;
				line-height: 1.5;
				font-weight: 700;
			}
			h2 {
				text-align: left;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 1em;
				line-height: 1.5;
				font-weight: 700;
			}
			h3 {
				text-align: left;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 0.75em;
				line-height: 1.5;
				font-weight: 700;
			}
			h4 {
				text-align: left;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 0.7em;
				line-height: 1.5;
				font-weight: 700;
			}

			.convertPara {
				text-align: left;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 0.625em;
				line-height: 1.5;
				font-weight: 500;
			}

			.convertHr {
				width: 100%;
				border-top: solid 1px rgba(255,255,255,0.271);
				height: 1px;
				margin-top: -0.5px;
			}
			.convertLink {
				width: 100%;
				border-top: solid 1px rgba(87, 87, 87, 0.659);
				height: 1px;
				margin-top: -0.5px;
			}
			.convertPara a {
				color: #00AAFF;
				text-decoration: none;
			}

			.convertPara a:hover {
				color: #73D0FF;
			}
			.convertli {
				letter-spacing: 0rem;
				width: 100%;
				list-style-type: disc;
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				font-size: 0.625em;
				line-height: 1.5;
				font-weight: 500;
				text-align: left;
			}
			.convertul {
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				line-height: 1.5;
				font-weight: 500;
			}
			.convertul {
				margin-left: 1.5rem;
			}
			.convertol {
				color: #FFFFFF;
				font-family: 'Exo', sans-serif;
				line-height: 1.5;
				font-weight: 500;
			}
			.convertol {
				margin-left: 1.5rem;
			}

			.convertli a {
				color: #00AAFF;
				text-decoration: none;
			}

			.convertli a:hover {
				color: #73D0FF;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
						<div id="container01" class="container columns full screen">
							<div class="wrapper">
								<div class="inner">
									<div>
										<a href="/">
											<div id="image01" class="image">
												<img src="<%= siteInfo.siteLogo %>" alt="" />
											</div>
										</a>
									</div>
									<div>
										<ul id="buttons03" class="buttons">
											<% var splittedDetails = siteInfo.header.split("[||[]||]");
											splittedDetails.forEach(function(element) { 
												if(element.length > 3) {
													let thisDetail = element.split("[||]"); %>
													<li>
														<a href="<%= thisDetail[1] %>" class="button n01"><%= thisDetail[0] %></a>
													</li>
												<% }
											}); %>
										</ul>
									</div>
									<div>
										<ul id="buttons01" class="buttons">
											<% if(discordInfo.loggedIn) { %>
												<div class="dropdown">
													<li>
														<a href="/user/<%= discordInfo.id %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label"><%= discordInfo.username %>#<%= discordInfo.discriminator %></span></a>
													</li>
													<div class="dropdown-content">
														<% if(siteInfo.giftcardsEnabled) { %><a href="/giftcards">Gift Cards</a> <% } %>
														<a href="/logout">Logout</a>
													</div>
												</div>
												<li>
													<a href="/cart" class="button n02"><svg><use xlink:href="/assets/icons.svg#cart"></use></svg><span class="label">Cart <% if(discordInfo.cart.length > 0) { %>(<%= discordInfo.cart.length %>)<% } %></span></a>
												</li>
												<% if(discordInfo.permType < 3) { %>
													<li>
														<a href="/staff" class="button n03"><svg><use xlink:href="/assets/icons.svg#key"></use></svg><span class="label">Staff</span></a>
													</li>
											<%	} 
											} else { %>
												<li>
													<a href="/login" class="button n01"><svg><use xlink:href="/assets/icons.svg#discord"></use></svg><span class="label">Login</span></a>
												</li>
											<% } %>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<% if(siteInfo.banner) { %>
							<div id="container02" class="container default">
								<div class="wrapper">
									<div class="inner">
										<p id="text08">Notification</p>
										<p id="text10"><%= siteInfo.banner %></p>
									</div>
								</div>
							</div>
						<% } %>
					</header>
					
					<section id="tos-section">
						<div id="container06" class="container default">
							<div class="wrapper">
								<div class="inner">
									<p id="text21">Terms of Service/Use</p>
									<% let formattedDesc = mdConvert.render(siteInfo.tos); %>
									<%- formattedDesc %>
								</div>
							</div>
						</div>
						<!-- <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
						<button id="save">Save</button>
  						<button id="clear">Clear</button> -->
					</section>

					<footer id="footer">
						<ul id="icons01" class="icons">
							<% if(siteInfo.socialEmail) { %>
							<li>
								<a class="n01" href="mailto:<%= siteInfo.socialEmail %>">
									<svg><use xlink:href="/assets/icons.svg#email"></use></svg>
									<span class="label">Email</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialDiscord) { %>
							<li>
								<a class="n02" href="<%= siteInfo.socialDiscord %>">
									<svg><use xlink:href="/assets/icons.svg#discord"></use></svg>
									<span class="label">Discord</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialTwitter) { %>
							<li>
								<a class="n03" href="<%= siteInfo.socialTwitter %>">
									<svg><use xlink:href="/assets/icons.svg#twitter"></use></svg>
									<span class="label">Twitter</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialTwitch) { %>
							<li>
								<a class="n04" href="<%= siteInfo.socialTwitch %>">
									<svg><use xlink:href="/assets/icons.svg#twitch"></use></svg>
									<span class="label">Twitch</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialInsta) { %>
							<li>
								<a class="n05" href="<%= siteInfo.socialInsta %>">
									<svg><use xlink:href="/assets/icons.svg#instagram"></use></svg>
									<span class="label">Instagram</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialFb) { %>
							<li>
								<a class="n06" href="<%= siteInfo.socialFb %>">
									<svg><use xlink:href="/assets/icons.svg#facebook"></use></svg>
									<span class="label">Facebook</span>
								</a>
							</li>
							<% }
							if(siteInfo.socialYouTube) { %>
							<li>
								<a class="n07" href="<%= siteInfo.socialYouTube %>">
									<svg><use xlink:href="/assets/icons.svg#youtube"></use></svg>
									<span class="label">YouTube</span>
								</a>
							</li>
							<% } %>
						</ul>
						<% var footerDate = new Date(); %>
						<p id="text07">© <%= footerDate.getFullYear(); %>, <%= siteInfo.sitename %>. Made by <a href="https://faxes.zone">FAXES</a>.</p>
					</footer>
				</div>
			</div>
		</div>
		<script src="/assets/main.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script> -->
	</body>
</html>
<!-- <script>
	var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
	backgroundColor: 'rgb(255, 255, 255)',
	penColor: 'rgb(0, 0, 0)'
	});
	var saveButton = document.getElementById('save');
	var cancelButton = document.getElementById('clear');

	saveButton.addEventListener('click', function (event) {
	var data = signaturePad.toDataURL();
		window.open(data);
	});

	cancelButton.addEventListener('click', function (event) {
		signaturePad.clear();
	});
</script> -->